<div ng-include="'app/layout/navbar.html'"></div>

<div class="container">
	<div class="row">
		<h3>Notes</h3>
		<ul class="note-list">
			<li ng-repeat="note in notes">
				<h5>{{note.title}}</h5>
				<p>{{note.content}}</p>
			</li>
			<li ng-hide="notes && notes.length">
				Il n'y a aucune notes pour le moment
			</li>
			<li>
				<form ng-submit="addNote()">
					<div class="inputgroup">
						<h3>Nouvelle note</h3>
						<input type="text" placeholder="Title" ng-model="newNote.title" class="form-control" />
						<textarea placeholder="Description" ng-model="newNote.content" class="form-control"></textarea>
						<input type="submit" class="btn btn-default float-right" value="Ajouter">
					</div>
				</form>
			</li>
		</ul>
	</div>
	<div class="row center">
		<button class="btn btn-default" ng-click="initFile()">Réinitialiser les notes</button>
		<button class="btn btn-default" ng-click="saveNotes()">Enregistrer</button>
	</div>
</div>

<div ng-include="'app/layout/footer.html'"></div>