<div ng-include="'app/layout/navbar.html'"></div>

<div class="container">
	<button ng-click="initFile()">Init file</button>
	<button ng-click="readNotes()">Load file</button>
	<button ng-click="saveNotes()">Save changes</button>

	<ul>
		<li ng-repeat="note in notes">
			<p>{{note.title}}</p>
			<p>{{note.content}}</p>
		</li>
		<li>
			<input type="text" placeholder="Title" ng-model="newNote.title" />
			<input type="text" placeholder="Description" ng-model="newNote.content">
			<button ng-click="addNote()">Add</button>
		</li>
	</ul>
</div>

<div ng-include="'app/layout/footer.html'"></div>